.programs{
    width:100vw;
    height:100vh;
    background:white;
}

.program-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    top:-1.5rem;
}

.program-wrapper .program{
    width:25rem;
    height:36rem;
    
}

.program-wrapper .program:nth-child(1){
    border:20px solid purple;
}


.program-wrapper .program:nth-child(2){
    border:20px solid blueviolet;
}

.program-wrapper .program:nth-child(3){
    border:20px solid rgb(108, 10, 10);
}

.program-wrapper .program .card{
    width:100%;
    height:14rem;
    
}

.program-wrapper .program .card img{
    width:100%;
    height:100%;
}

.program-wrapper .program .description{
    padding:0.7rem;
}


.program-wrapper .program .description h2{
    text-align:center;
    padding-bottom:4px;
    position:relative;
    top:1rem;
    
}

.program-wrapper .program .description p{
   font-size:1.2rem;
   padding-top:6px;
   text-align: justify;
   position:relative;
   top:1.5rem;
}


@media(max-width:1200px){
    .program-wrapper .program{
        height:36rem;
        margin:auto;
    }
    .program-wrapper .program .description p{
        font-size:1.1rem;
    }
}

@media(max-width:1100px){
    .programs{
        height:300vh;
        /* margin:4rem; */
        margin:auto;
       
    }
    
    .program-wrapper{
        flex-direction: column;
        position:relative;
        top:2.5rem;
           
    }
    .program-wrapper .program{
        margin:1rem auto;
        height:34rem;
    }

}



@media(max-width:600px){
    .programs{
        height:320vh;
        /* margin:4rem; */
        margin:auto;
       
    }
    
    .program-wrapper{
        flex-direction: column;
        position:relative;
        top:2.5rem;
           
    }
    .program-wrapper .program{
        margin:1rem auto;
        height:37rem;
        width:20rem;
    }

}

